<div id="container">
  <app-navigation class="navig"></app-navigation>
  <div class="present">
    <h1 class="text-center">Hey, I'm Ancuta</h1>
    <h3 class="text-center">I'm a front-end developer based in Bucharest</h3>
    <div class="content-wrapper">
      <div class="overflow-container">
        <div class="overflow-content">
          yyyyy In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
        <div>
          In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
        <div>
          In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
        <div>
          In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
        <div>
          In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
        <div>
          In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
        <div>
          In pulvinar ex sit amet mauris interdum rhoncus. Donec mattis
          sollicitudin libero ut lacinia. Integer fermentum eget orci elementum
          iaculis. Aliquam nisl ex, elementum aliquam faucibus interdum, egestas
          id justo. Donec non augue justo. Nam dignissim non ex et cursus. Nunc
          vehicula, ex et varius semper, nulla ante consectetur est, eget
          laoreet orci diam quis massa. Nulla nunc erat, lacinia nec urna ut,
          feugiat placerat dolor. Integer maximus magna diam, et tristique urna
          volutpat id. Nulla in bibendum mi. Sed eget lorem eu felis convallis
          laoreet. Aliquam vestibulum, orci a lacinia congue, mauris nunc
          sagittis lacus, vitae fermentum ex libero ac ligula. Curabitur a neque
          sodales, dictum tortor fringilla, iaculis erat. Quisque bibendum
          condimentum iaculis. Suspendisse aliquet convallis cursus. Sed
          lobortis consequat dolor, vitae venenatis nunc dictum eu.
        </div>
      </div>
    </div>
  </div>

  <app-footer class=""></app-footer>
</div>
